= render partial: "layouts/sound.html.slim"
= render partial: "layouts/composition.html.slim", locals: { compositions: @compositions }
= render partial: "layouts/production.html.slim", locals: { albums: @albums }