@import "mixins/color";

.instagram_label {
  color: white;
  position: fixed;
  margin-top: 5px;
  margin-left: 87%;
  margin-right: 50%;
  float: right;
  width: 40%;
  h3 {
    color: white;
    font-family: futura;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 2px;
    a {
      text-decoration: none;
      &:visited {
        color: white;
      }
      &:hover {
        color: $blue;
      }
    }
  }
}


.images {
  margin-left: 50%;
  padding-left: 3.2%;
  padding-top: 3%;
  img {
    padding-top: 15px;
    padding-right: 15px;
  }
}
