@import "mixins/color";

.bio {
  float: left;
  position: fixed;
  color: $light_gray;
  margin-top: 25%;
  margin-right: 54%;
  margin-left: 3%;
  font-family: futura;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 37px;
}

.projects {
  font-family: futura;
  font-size: 21px;
  letter-spacing: 3px;
  position: fixed;
  color: #f48365;
  margin-top: 690px;
  float: right;
  margin-left: 38%;
}
.arrow {
  margin-top: 686px;
  float: right;
  margin-left: 45%;
  position: fixed;
  img {
    width: 35px;
    height: 35px;
  }
}

.sound_navigation {
  font-family: futura;
  font-size: 14px;
  width: 50%;
  position: fixed;
  margin-left: 50%;
  margin-top: 0px;
  float: left;
  background-color: $red;
  ul {
    list-style: none;
    li {
      margin-top: 7px;
      margin-bottom: 8px;
      color: white;
      text-align: center;
      display: inline-block;
      width: 33%;
      letter-spacing: 2px;
      a {
        text-decoration: none;
        &:visited {
          color: white;
        }
        &:hover {
          color: $blue; 
        }
      }
    }
  }
}
